body {
  margin: 0px 128px 0px 128px;
  background-color: #0e0e0e;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.header {
  background-color: #1F2937;
  color: white;
  padding-bottom: 32px;
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo {
  width: 128px;
  margin: 32px 0px 0px 128px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 32px 128px 0px 0px;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.sub-header {
  margin: 64px 128px 64px 128px;
  display: flex;
  gap: 64px;
}

.header-text {
  font-size: 48px;
  font-weight: 900;
}

.header-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.header-authors {
  font-style: italic;
  padding-left: 128px;
  font-weight: bold;
}

button {
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  transition-duration: 0.5s;
}

.button1 {
  background-color: #3882F6;
  border: 1px solid #3882F6;
  font-weight: bold;
  color: white;
}

.button1:hover {
  background-color: #196ef7;
  color: #E5E7EB;
}

.header-img {
  min-width: 600px;
  max-height: 250px;
}

.mid-information {
  background-color: white;
  color: #1F2937;
}

.information-title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
}

.image-cards {
  margin: 64px 128px 64px 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.image-card {
  width: 200px;
  height: 300px;
  text-align: center;
}

.image-card .card-img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #3882F6;
  border-radius: 8px;
}

.body-quote {
  padding: 128px 128px 128px 128px;
  background-color: #E5E7EB;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.inspirational-quote {
  font-size: 32px;
  font-style: italic;
  width: 850px;
}

.body-author {
  font-size: 24px;
  padding-left: 500px;
  font-weight: 900;
}

