body {
  margin: 0px 128px 0px 128px;
  background-color: #0e0e0e;
  background-size: cover;
  display: flex;
  flex-flow: column wrap;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.header {
  background-color: #1F2937;
  color: white;
}

.main-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.logo {
  width: 128px;
  margin: 32px 0px 0px 128px;
}

ul {
  list-style-type: none;
  display: flex;
  margin: 32px 128px 0px 0px;
  padding: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.sub-header {
  margin: 64px 128px 64px 128px;
  display: flex;
  gap: 64px;
}

.header-text {
  font-size: 48px;
  font-weight: 900;
}

.header-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.right-header {
  
}

.header-img {
  width: 500px;
  max-height: 250px;
}